{%extends 'service_header.html'%}
{% block content %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="Container">
            
            <div class="row">
                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Service Provider</span>
                            </div>
                            <input type="text" class="form-control" name="serviceprovider"  value="{{request.session.user_dt}}" aria-describedby="basic-addon1" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Service Name</span>
                            </div>
                            <input type="text" class="form-control" name="servicename" value="{{up_dt.service_name}}" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Service Descriptions</span>
                            </div>
                            <input type="text" class="form-control" name="servicedescriptions" value="{{up_dt.service_descriptions}}" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Service Cost</span>
                            </div>
                            <input type="text" class="form-control" name="servicecost"  value="{{up_dt.service_cost}}" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="col">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Service Id</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">Service Descriptions</th>
                            <th scope="col">Service Cost</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for data in dt%}
                            <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.service_name}}</td>
                                <td>{{data.service_descriptions}}</td>
                                <td>{{data.service_cost}}</td>
                                <td>{{data.provider}}</td>
                                <td><a href="{%url 'update_service' data.id%}"><button type="button" class="btn btn-info">Edit</button></a></td>
                                <td><a href="{%url 'delete_sevices' data.id%}"><button class="btn btn-danger">Delete</button></a></td>
                            </tr>
                            {%endfor%}
                        </tbody>   
                    </table>
                </div>
            </div>





        </div>

    </body>
</html>
{%endblock%}