{%extends 'user_header.html'%}
{%block content%}
<html>
    <head></head>
    <body>
        <div class="row">
            {%for data in pl%}
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                    <h5 class="card-title">{{data.food_name}}</h5>
                <p class="card-text">{{data.food_price}}</p>
                <!-- <a href="{%url 'user_query' data.id %}" class="btn btn-danger">Raise Complaint</a> -->
                </div>
            </div>
            {%endfor%}
        </div>
    </body>
</html>
{%endblock%}